.photosAdd {
    .photosArray {
        img {
            width: 150px;
            margin: 10px;
        }
    }
    .photosArrayInfo{
        padding: 5px 12px;
    margin-top: 10px;
    background: #ffab00;
    color: white;
    border-radius: 5px;
    text-align: center;
    width:300px;
    font-size:13px;
    margin-bottom:10px;
    }
    .photosArrWrap{
        display:flex;
        gap:10px;
        .photoUploadBtn{

        }
        .photosSaveBtn,.photosUpdateBtn{
            svg{
                font-size: 18px;
            }
            button{
                background: #003580;
                color: white;
                padding: 10px 12px;
                display: flex;
                align-items: center;
                gap: 10px;
                justify-content: center;
                width: 300px;
                font-size: 14px;
                cursor: pointer;
                border-radius: 3px;
            }
        }
        .photosUpdateBtn button{
            background:#ffab00 !important;
        }
    }
}