.updatevilla {
    background: white;
    border-radius: 5px;
    padding: 10px;
    .css-1h9z7r5-MuiButtonBase-root-MuiTab-root{
        font-size:13px;
        color: #003580;
        font-weight: 600;
        
    }
    .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected{
        color: #ffab00;
    }
    .css-1aquho2-MuiTabs-indicator{
        background-color: #ffab00;
    }
    .nextStepBtn {
        text-align: right;

        button {
            color: white;
            padding: 7px 30px;
            margin-top: 30px;
            text-align: right;
            border-radius: 5px;
            cursor: pointer;
        }

        .buttonNext {
            background: #003580;

        }

        .buttonSave {
            background: #ffab00;
        }
    }

    .general {
        >div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 30px 0;

            label {
                width: 400px;
                color: #003580;
                font-size: 14px;
                font-weight: 400;
            }

            input,
            select {
                width: 100%;
                height: 30px;
                text-indent: 10px;
            }

            .jodit-react-container {
                width: 100%;
            }
        }
    }

    .photosAdd {
        .uploadLabel {
            background: #003580;
            color: white;
            padding: 10px 12px;
            display: flex;
            align-items: center;
            gap: 10px;
            justify-content: center;
            width: 300px;
            font-size: 14px;
            cursor: pointer;
            border-radius: 3px;

            svg {
                font-size: 18px;
            }
        }

        >ul {
            margin-bottom: 20px;

            >li {
                gap: 5px;
                font-size: 14px;
                display: flex;
                align-items: center;
                margin: 5px 0;

                svg {
                    font-size: 20px;
                    color: #003580;
                }
            }
        }

        .multipleImg {
            display: none;
        }
    }

    .features {
        .featuresNote {
            font-size: 13px;
            padding: 5px;
            background: #e3eaff;
            border-radius: 5px;
            color: #003580;
            margin-bottom: 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            h3 {
                font-weight: 500;
            }
        }

        .rules {
            .ruleInfos {
                display: flex;
                flex-flow: row wrap;

                >div.notHalfDiv {
                    width: calc(100% - 20px);
                }

                >div {
                    width: calc(50% - 20px);
                    display: flex;
                    align-items: center;
                    padding: 10px;

                    >label {
                        width: 300px;
                    }

                    >input {
                        width: calc(100% - 300px);
                        text-indent: 10px;
                    }
                }
            }

        }

        >div:not(:last-child) {
            padding-bottom: 25px;
        }

        .facilities {

            .facilitiesList {
                display: flex;
                flex-flow: row wrap;

                >label {
                    width: calc(calc(100% / 3) - 10px);
                    display: flex;
                    align-items: center;
                    gap: 3px;
                    padding: 5px;
                }
            }
        }

        .isPool {
            .poolInfos {
                display: flex;
                align-items: center;
                justify-content: space-between;

                >label {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                }

                >div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;

                    input {
                        width: 50px;
                        text-align: center;
                    }

                    >span {}
                }
            }
        }

        .props {
            .propInfos {
                display: flex;
                align-items: center;
                justify-content: space-between;

                >div {
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    input {
                        text-align: center;
                    }
                }
            }
        }

    }

    .rooms {
        .roomAdd {
            text-align: right;

            button {
                padding: 10px;
                margin-bottom: 10px;
                background: #003580;
                color: White;
                border-radius: 5px;
            }
        }

        .room:not(:last-child) {
            margin-bottom: 25px;
        }

        .room {
            .roomNote {
                font-size: 13px;
                padding: 5px;
                background: #e3eaff;
                border-radius: 5px;
                color: #003580;
                margin-bottom: 15px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                h3 {
                    font-weight: 500;
                }

                >div {
                    display: flex;

                    svg {
                        font-size: 20px;
                        color: #ff3b3b;
                        cursor: pointer;
                    }
                }
            }

            .roomInfo {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 15px;

                >label {
                    width: 200px;
                }

                >input {
                    width: calc(100% - 200px);
                }
            }

            .imgUpload {
                >label {
                    background: #003580;
                    color: white;
                    padding: 10px 12px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    justify-content: center;
                    width: 300px;
                    font-size: 14px;
                    cursor: pointer;
                    border-radius: 3px;
                }

                >input {
                    display: none;
                }
            }

            .roomImg {
                display: flex;

                >div {
                    position: relative;
                    margin: 10px;

                    img {
                        width: 100px;
                    }

                    button {
                        position: absolute;
                        right: 5px;
                        top: 0;
                        color: #ff3b3b;
                        height: 20px;
                        width: 20px;
                        font-size: 25px;
                    }
                }
            }

        }
    }


    .mapCoordinats {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;

        >div {
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }

    .distances {
        .distanceTitleList {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin-bottom: 20px;

            .distanceTitle {
                display: flex;
                align-items: center;
                gap: 8px;
                font-size: 14px;
                font-weight: 500;
            }
        }

        .distanceList {
            

            .distance {
                display:flex;
                justify-content: space-between;
                margin-bottom: 10px;
                align-items: center;

                >h3 {
                    font-size: 14px;
                    font-weight: 500;
                    padding-bottom: 5px;
                    width:200px;
                    padding:0;
                }

               >input{
                width:100%;
               }

            }
        }

    }

}





.jodit-status-bar a.jodit-status-bar-link {
    display: none;
}